@charset "UTF-8";

@font-face {
  font-family: 'STUNNING-Regular';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('@/assets/fonts/stunning/STUNNING.ttf')
    format('truetype');
}

$SR: 'STUNNING-Regular';
